* {
  font-family: Arial, Helvetica, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

html, body, #root {
  height: 100%;
}
.button {
  user-select: none;
}
.button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}


nav {
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 6px solid rgb(69, 69, 69);
}

#burger-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
  left: 0;
  font-size: xx-large;
}

#page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

#page-name {
  font-size: xx-large;
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
}

#page-caption {
  font-size: small;
  font-weight: 600;
  color: rgb(130, 130, 130);
  margin-bottom: 10px;
}



/* Main body of app */
main {
  display: flex;
  height: calc(100% - 93px);
}



/* Note selection window */
#tabs-bar {
  display: flex;
  flex-direction: column;
  width: 20%;
}

#tabs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  border-top: 1px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  padding-left: 15px;
}

#add-note {
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
}

#tabs {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tab {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
  max-height: 120px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.current-tab {
  background-color: rgb(203, 203, 203);
  color: black;
}

.tab-title {
  margin-left: 10px;
  margin-top: 10px;
}

.tab-date {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(143, 143, 143);
}

.tab-text {
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  font-size: small;
  overflow: unset;
  overflow-wrap: break-word;
}




/* Note */
.note {
  display: flex;
  flex-direction: column;
  width: stretch;
}
.note.saved > .note-header {
  border-bottom: 1px solid lightgrey;
}
.note.saved .ql-toolbar {
  display: none;
}
.note.saved .ql-container {
  max-height: 100%;
}

.note-header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.note-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: calc(100% - 180px);
}

.note-title {
  margin-left: 20px;
  margin-bottom: 8px;
  font-size: x-large;
}

.note-title-input {
  width: 90%;
  margin-left: 20px;
  font-size: x-large;
  border: none;
  resize: none;
  outline: none;
}

.note-date {
  margin-left: 20px;
  margin-right: auto;
  font-size: small;
  color: rgb(143, 143, 143);
}

input[type="datetime-local"] {
  margin-left: 20px;
  margin-right: auto;
  border: none;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

.note-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 180px;
}
.note-buttons > * {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}


#no-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: stretch;
  font-size: xx-large;
  font-weight: 500;
  color: rgb(130, 130, 130);
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.quill {
  height: calc(100% - 90px);
  width: 100%;
}
.ql-container {
  max-height: calc(100% - 42px);
  max-width: 100%;
}